hackersbuffetNODES.txt
[{"id":"d1810638.3213f","type":"tab","label":"Flow 1"},{"id":"cc7fe7a2.8cd288","type":"openweathermap","z":"d1810638.3213f","name":"Get Weather Data","wtype":"current","lon":"","lat":"","city":"Nashville","country":"Tennessee","language":"en","x":125.5,"y":276,"wires":[["7b6a6a3c.7c3e04"]]},{"id":"f3e84136.d3f84","type":"ibmiot out","z":"d1810638.3213f","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sensehat-36","deviceType":"SenseHat","eventCommandType":"message","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":757.5,"y":321,"wires":[]},{"id":"7b6a6a3c.7c3e04","type":"switch","z":"d1810638.3213f","name":"WeatherSeverity","property":"payload.windspeed","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"btwn","v":"3.1","vt":"num","v2":"5","v2t":"num"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","outputs":3,"x":227.5,"y":403,"wires":[["ef120df7.8cbed","697f9dcf.0c7e5c"],["b833e12d.d9edd8","d9db6e60.b55ca"],["5ea54331.81f0fc","154d448d.4d9fc3"]]},{"id":"ef120df7.8cbed","type":"debug","z":"d1810638.3213f","name":"","active":true,"console":"false","complete":"false","x":590.5,"y":479,"wires":[]},{"id":"697f9dcf.0c7e5c","type":"function","z":"d1810638.3213f","name":"set to blue","func":"// begin code\nmsg.eventOrCommandType = \"alarm\";\nmsg.topic = \"alarm\";\nif (msg.topic === \"alarm\") {\nmsg.payload={d:{color:\"blue\"}};\n}\nelse\nmsg = null;\nreturn msg;\n// end code","outputs":1,"noerr":0,"x":416,"y":92,"wires":[["f3e84136.d3f84","c3c84f5c.8c4348"]]},{"id":"c3c84f5c.8c4348","type":"debug","z":"d1810638.3213f","name":"","active":true,"console":"false","complete":"true","x":720.5,"y":20,"wires":[]},{"id":"b833e12d.d9edd8","type":"function","z":"d1810638.3213f","name":"set to yellow","func":"// begin code\nmsg.eventOrCommandType = \"alarm\";\nmsg.topic = \"alarm\";\nif (msg.topic === \"alarm\") {\nmsg.payload={d:{color:\"yellow\"}};\n}\nelse\nmsg = null;\nreturn msg;\n// end code","outputs":1,"noerr":0,"x":427,"y":150,"wires":[["f3e84136.d3f84"]]},{"id":"5ea54331.81f0fc","type":"function","z":"d1810638.3213f","name":"set to red","func":"// begin code\nmsg.eventOrCommandType = \"alarm\";\nmsg.topic = \"alarm\";\nif (msg.topic === \"alarm\") {\nmsg.payload={d:{color:\"red\"}};\n}\nelse\nmsg = null;\nreturn msg;\n// end code","outputs":1,"noerr":0,"x":438,"y":212,"wires":[["f3e84136.d3f84"]]},{"id":"d9db6e60.b55ca","type":"debug","z":"d1810638.3213f","name":"","active":true,"console":"false","complete":"false","x":591,"y":519,"wires":[]},{"id":"154d448d.4d9fc3","type":"debug","z":"d1810638.3213f","name":"","active":true,"console":"false","complete":"false","x":595,"y":563,"wires":[]},{"id":"7a5605fb.4b4a34","type":"debug","z":"d1810638.3213f","name":"","active":false,"console":"false","complete":"false","x":342.5,"y":620,"wires":[]},{"id":"5a28ca48.95096c","type":"http in","z":"d1810638.3213f","name":"Twilio In","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":120.5,"y":608,"wires":[["89bac7c9.e6579","7a5605fb.4b4a34"]]},{"id":"ff67e78b.512658","type":"twilio out","z":"d1810638.3213f","service":"hackbuffet43_twilio","twilio":"","from":"412-253-4423","number":"","name":"Twilio out","x":832.5,"y":868,"wires":[]},{"id":"aa7da29b.c2103","type":"watson-conversation-v1","z":"d1810638.3213f","name":"Call WCS","workspaceid”:”**ENTER WORKSPACE ID HERE**”,”multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":270.5,"y":890,"wires":[["53cc36f1.b2a68","ad7f887f.6335"]]},{"id":"89bac7c9.e6579","type":"function","z":"d1810638.3213f","name":"convo-format","func":"/*\nif(msg.payload.input){\n    if(msg.payload.input.text){\n        msg.payload = msg.payload.input.text;\n        \n    }else{\n        msg.payload = \"Hi\";\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}*/\n\nif(msg.payload.Body){\n    if(msg.payload.Body){\n        msg.payload = msg.payload.Body;\n        \n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150.5,"y":774,"wires":[["aa7da29b.c2103","7a5605fb.4b4a34"]]},{"id":"ad7f887f.6335","type":"function","z":"d1810638.3213f","name":"After CONVO","func":"if(msg.payload.output){\n    if(msg.payload.output.text){\n        msg.payload = msg.payload.output.text;\n        msg.topic = msg.req.body.From;\n        \n    }else{\n        msg.payload = \"Hi\";\n        msg.topic = msg.req.body.From;\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n    msg.topic = msg.req.body.From;\n}\nreturn msg;","outputs":1,"noerr":0,"x":445.5,"y":744,"wires":[["6336fc63.d75ba4","1dc3f92d.e243d7"]]},{"id":"53cc36f1.b2a68","type":"debug","z":"d1810638.3213f","name":"","active":false,"console":"false","complete":"false","x":433.5,"y":927,"wires":[]},{"id":"6336fc63.d75ba4","type":"debug","z":"d1810638.3213f","name":"","active":true,"console":"false","complete":"true","x":769.5,"y":738,"wires":[]},{"id":"1dc3f92d.e243d7","type":"switch","z":"d1810638.3213f","name":"ChooseOutputType","property":"payload.output","propertyType":"msg","rules":[{"t":"eq","v":"direct_mention","vt":"str"},{"t":"neq","v":"direct_mention","vt":"str"}],"checkall":"true","outputs":2,"x":527.5,"y":835,"wires":[[],["ff67e78b.512658"]]},{"id":"d67353db.fc5898","type":"inject","z":"d1810638.3213f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.5,"y":119,"wires":[["cc7fe7a2.8cd288"]]}]